<form [formGroup]="form2">
  <h1>CRIANDO NOVO LIVRO</h1>
  <mat-form-field class="form">
    <mat-label>Titulo</mat-label>
    <input matInput [formControl]="titulo" [(ngModel)]="livro.titulo" required type="text" formControlName="nome" name="nome" placeholder="Ex. Estruturas de Dados e Algoritmos com JavaScript" maxlength="100">
    <mat-error *ngIf="titulo.invalid">{{ getMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Nome do autor</mat-label>
    <input matInput [formControl]="nome_autor" [(ngModel)]="livro.nome_autor" required type="text" formControlName="nome_autor" name="nome_autor" placeholder="Ex. Loiane Groner" maxlength="100">
    <mat-error *ngIf="nome_autor.invalid">{{ getMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Texto</mat-label>
    <textarea matInput [formControl]="texto" [(ngModel)]="livro.texto" required type="text" formControlName="texto" name="texto" placeholder="Ex. Lorem ipsum" maxlength="2000000"></textarea>
    <mat-error *ngIf="texto.invalid">{{ getMessage() }}</mat-error>
  </mat-form-field>

  <div class="buttons">
    <button [disabled]="getMessage()" (click)="onCreate()" mat-raised-button color="primary">CRIAR</button>
    <button mat-raised-button (click)="onCancel()" color="warn">CANCELAR</button>
  </div>
</form>

